{% extends 'base.html' %}
{% block menu %}
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Главная</a></li>
          <li><a href="/courses">Курсы</a></li>
          <li><a href="/students">Студенты</a></li>
          <li class="selected"><a href="/schedules">Расписания</a></li>
          <li><a href="/contact">Связаться</a></li>
        </ul>
{% endblock %}
{% block content %}
      <!-- insert the page content here -->
      <h1>Расписания занятий</h1>
      <p>Когда мы начнем работу</p>
      <p>Тут будут <strong>расписания</strong> занятий</p>
      <p>Тут точно будут расписания занятий (инфа 100%)</p>
      <h2>Скоро тут будут расписания занятий</h2>
      <p>Пример расписания:</p>
      <ul>
        <li>Занятие 1</li>
        <li>Занятие 2</li>
        <li>Занятие 3</li>
      </ul>
{% endblock %}
