{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Категории</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Категории
            </div>
            <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Описание</th>
                            <th>Активный</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr {% if not object.is_active %} class="table-warning" {% endif %}>
                                <td><a href="{% url 'adminapp:admin_category_update' object.id %}" style="color: dodgerblue">{{ object.name }}</a></td>
                                <td>{{ object.description }}</td>
                                <td class="text-center">
                                    <i class="fas fa-{% if object.is_active %}check{% else %}times{% endif %}-circle"></i>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'adminapp:admin_category_create' %}">
                    <button class="btn btn-success">Создать категорию</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}